{% extends 'shared/base.html.j2' %}{% block body %}
<div class="number">{{ number }}</div><h1>{{ title }}</h1>
<table><tr><th colspan="4" class="section">Kontroll</th></tr><tr><td>{{ field('Kuupäev',fields.date) }}</td><td>{{ field('Kontrolli liik',label('inspectionTypes',f.inspectionType)) }}</td><td>{{ field('Välise kontrolli ID',f.externalInspectionId) }}</td><td>{{ field('Inspektor',fields.inspector) }}</td></tr><tr><td colspan="3">{{ field('Ettevõte',fields.company) }}</td><td>{{ field('Kontrollitud sõidukeid',f.vehicleCount) }}</td></tr><tr><td colspan="3"></td><td>{{ field('Juhte kokku',f.totalDriversCount) }}</td></tr></table>
<h2>Kontrollide maht</h2><table class="small"><thead><tr><th>Veoliik</th><th>Analoog: juhid / päevad</th><th>Digitaalne: juhid / päevad</th><th>Arukas: juhid / päevad</th></tr></thead><tbody>{% if matrix %}{% for r in matrix %}<tr><td>{{ label('transportTypes',r.transportClass) }}</td><td>{{ r.analogRecorderDrivers or '' }} / {{ r.analogRecorderWorkDays or '' }}</td><td>{{ r.digitalRecorderDrivers or '' }} / {{ r.digitalRecorderWorkDays or '' }}</td><td>{{ r.smartRecorderDrivers or '' }} / {{ r.smartRecorderWorkDays or '' }}</td></tr>{% endfor %}{% else %}<tr><td class="space"></td><td></td><td></td><td></td></tr>{% endif %}</tbody></table>
<h2>Rikkumised</h2><table class="small"><thead><tr><th>Rikkumise grupp</th><th>Rikkumine</th><th>Täpsustus</th><th>Kogus</th></tr></thead><tbody>{% if violations %}{% for r in violations %}<tr><td>{{ label('violations',r.level1ValueKey) }}</td><td>{{ label('violations',r.level2ValueKey) }}</td><td>{{ label('violations',r.level3ValueKey) }}</td><td>{{ r.quantity }}</td></tr>{% endfor %}{% else %}<tr><td class="space"></td><td></td><td></td><td></td></tr>{% endif %}</tbody></table>
<h2>Menetlus</h2><table><tr><td>{{ box(yes(f.prescriptionComposed)) }} Ettekirjutus koostatud</td><td colspan="2">{{ field('Karistatud isik',([f.punishedPersonFirstName,f.punishedPersonLastName,f.punishedPersonIdCode]|select|join(' '))) }}</td></tr><tr><td>{{ field('Menetluse viitenumber',f.proceedingReferenceNumber) }}</td><td>{{ field('Jõustumise otsus',f.enforcementDecision) }}</td><td>{{ field('Lõpetamise alus',f.proceedingClosureBasis) }}</td></tr></table>
{% endblock %}
