.date-row-desktop {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.date-row-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personal-code-row {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.personal-code-row > :first-child {
  flex: 1;
}
