{% extends 'shared/base.html.j2' %}{% block body %}
<div class="number">{{ number }}</div><h1>{{ title }}</h1>
<table>
<tr><th colspan="4" class="section">Teate andmed</th></tr><tr><td>{{ field('Teatav riik',label('countries',f.reportingCountryCode)) }}</td><td colspan="2">{{ field('Teatav asutus',f.reportingAuthority) }}</td><td>{{ field('Andmete sisestamise kuupäev',dt(f.dataEntryDate)) }}</td></tr>
<tr><th colspan="4" class="section">Kontrolli aeg ja koht</th></tr><tr><td>{{ field('Riik',label('countries',f.inspectionCountryCode)) }}</td><td>{{ field('Kuupäev',fields.date) }}</td><td>{{ field('Kellaaeg',fields.time) }}</td><td>{{ field('Piirkond / linn',([f.inspectionRegion,f.inspectionCity]|select|join(', '))) }}</td></tr><tr><td colspan="4">{{ field('Aadress',([f.inspectionAddressLine1,f.inspectionAddressLine2]|select|join(', '))) }}</td></tr>
<tr><th colspan="4" class="section">Veoettevõtja ja sõiduk</th></tr><tr><td colspan="2">{{ field('Veoettevõtja',fields.company) }}</td><td colspan="2">{{ field('Tegevusloa või koopia number',fields.licence) }}</td></tr><tr><td colspan="2">{{ field('Veoettevõtja aadress',fields.companyAddress) }}</td><td>{{ field('Sõiduk',fields.vehicle) }}</td><td>{{ field('Registreerimismärk',fields.vehicleReg) }}</td></tr><tr><td colspan="2">{{ field('Sõidukijuht',([f.driverFirstName,f.driverLastName]|select|join(' '))) }}</td><td colspan="2">{{ field('VIN / esmaregistreerimine',([f.vehicleVin,dt(f.vehicleFirstRegistration)]|select|join(' / '))) }}</td></tr>
<tr><th colspan="4" class="section">Rikkumine ja kontrolli tulemus</th></tr><tr><td colspan="4">{{ field('Rikkumise kirjeldus',short('Rikkumise kirjeldus',f.violationDescription)) }}</td></tr><tr><td>{{ field('Väiksemate rikkumiste arv',f.minorViolationsCount) }}</td><td colspan="3">{{ field('Rikkumised',violations|join('; ')) }}</td></tr><tr><td colspan="2">{{ field('Sanktsioon',sanction) }}</td><td colspan="2">{{ field('Lisasanktsioonid',additional_sanctions|join('; ')) }}</td></tr><tr><td colspan="4">{{ field('Märkused',short('Sanktsiooni märkused',f.sanctionNotes)) }}</td></tr><tr><td colspan="2">{{ field('Soovitatud meede',recommendation) }}</td><td colspan="2">{{ field('Meetme täpsustus',f.recommendedMeasureNotes) }}</td></tr>
<tr><th colspan="4" class="section">Haldusmenetlus</th></tr><tr><td>{{ field('KLIM selgitustaotlus',dt(f.klimClarificationDate)) }}</td><td>{{ field('Vedaja seletus',dt(f.carrierExplanationDate)) }}</td><td>{{ field('Karistus kehtib kuni',dt(f.penaltyValidUntil)) }}</td><td>{{ box(yes(f.penaltyExpiredOrProcessed)) }} Kehtetu või menetletud</td></tr><tr><td>{{ field('AKVK järgmine koosolek',dt(f.akvkNextMeetingDate)) }}</td><td>{{ field('Komisjoni viimane otsus',dt(f.commissionLastDecisionDate)) }}</td><td colspan="2">{{ field('Otsus',short('Haldusmenetluse otsus',f.adminProcedureDecision)) }}</td></tr>
<tr><td colspan="4">{{ field('Muud märkused',fields.notes) }}</td></tr><tr><td colspan="3">{{ field('Kontrollija',fields.inspector) }}</td><td class="signature">Allkiri</td></tr>
</table>
{% endblock %}
